@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.box {
  background-color: rgba(33, 33, 33, 0.35);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  width: 75%;
  height: 50%;
  padding: 20px 40px;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y:hidden;
}

body {
  background-image: url("https://wallpapers.com/images/featured/qbc6mlnwowjbszld.jpg"), linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

p {
    font-size: 40px;
    margin-top:15%;
    font-weight:bold;
    font-family: 'Lato', sans-serif;
    margin-left:-2%;
    margin-right:-2%;
    color: white;
}

.red {
    color:#ff6961;
}

.white {
    color:white;
}

.pink {
    color: #FFB6C1;
}

.butterfly {
    margin-right: -0.4%;
     background-color: #9622c0;
    background-image: linear-gradient(45deg, #9622c0, #b00334);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border-radius: 50%;
  transform-origin: center center;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  backdrop-filter: blur(3px);
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
